
.container {
    /* background-color: aliceblue; */
    width: 100%;
    margin-top: 3em;
    /* padding: 0 85px; */
    position: relative;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* grid-template-rows: 3fr; */
    /* grid-template-columns: 1fr; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .card {
    position: relative;
    height: 200px;
}
.container .card .face {
    width: 400px;
    height: 200px;
    transition: .4s;

}

.container .card .face.face1 {
    position: relative;
    background: #34699A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1 {
    transform: translateY(0);
    /* box-shadow: 
        inset 0 0 40px rgba(255, 255, 255, 0.05),
        inset 10px 0 60px rgba(138, 43, 226, 0.2), 
        inset -10px 0 60px rgba(0, 191, 255, 0.1), 
        inset 0 0 150px rgba(0, 0, 0, 0.5),        
        0 2px 10px rgba(0, 0, 0, 0.3); */
/* box-shadow: 
    inset 0 0 50px rgba(0, 0, 0, 0.2),
    inset 15px 0 60px rgba(16, 185, 129, 0.08), 
    inset -15px 0 60px rgba(5, 150, 105, 0.05),
    inset 0 0 200px rgba(0, 0, 0, 0.6),
    0 10px 25px -5px rgba(0, 0, 0, 0.4); */
    box-shadow: 
    inset 0 0 60px rgba(255, 255, 255, 0.02),
    inset 10px 0 40px rgba(100, 116, 139, 0.1), /* Slate Blue */
    inset -10px 0 40px rgba(30, 41, 59, 0.2),
    inset 0 80px 100px rgba(0, 0, 0, 0.4),
    0 20px 40px rgba(0, 0, 0, 0.6);
}
.container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;

}
.container .card:hover .face.face1 .content {
    opacity: 1;
}
.container .card .face.face1 .content i {
    font-size: 4em;
    display: inline-block;
    color: white;
    margin-bottom: 15px;
}


.container .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;

}
.container .card .face.face1 .content a {
    transition: .5s;
}
.container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);

}
.container .card:hover .face.face2 {
    transform: translateY(0);

}

.container .card .face.face2 .content p,a {
    font-style: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}
.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5);
}

